.App {
  text-align: center;
  background-image: './img-bg.jpg';
}

/* Question Component starts*/
.question{
  margin-top: 2%;
  margin-left: 1%;
}
/* Question Component ends*/

/* Container Component starts*/
.container{
  background-color: #fcdaf2;
  border-radius: 2%;
  opacity: 0.9;
  margin-top: 10%;
  margin-left: 18%;
  margin-right: 18%;
  text-align: center;
}
/* Container Component ends*/

/* Vote Component starts*/
.vote-options{
  width: 70%;
  text-align: center;
  padding-left: 15%;
}

.vote-button{
  background-color: rgb(82, 2, 173);
  color:beige;
  height: 35px;
  width: 30%;
  margin-top: 2%;
  margin-left: 1%;
}
/* Vote Component ends*/